Repository jbossas/eap-datasources-galleon-pack, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, db2, microsoft, oracle, postgresql, documentation

Prepare feature-pack for EAP 8.2
  galleon-feature-pack/pom.xml
  galleon-feature-pack/wildfly-user-feature-pack-build.xml
  pom.xml
  testsuite/galleon/pom.xml
  testsuite/pom.xml
Labels: repo, test

EAP Glow metadata for datasource layers
  galleon-feature-pack/src/main/resources/layers/standalone/db2-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/db2-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/mssqlserver-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/mssqlserver-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/oracle-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/oracle-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/postgresql-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/postgresql-driver/layer-spec.xml
Labels: db2, microsoft, oracle, postgresql

Add Glow metadata unit tests
  pom.xml
  testsuite/layers-metadata-unit-tests/pom.xml
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/AbstractLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/DB2Definition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/DB2LayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/MsSqlServerDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/MsSqlServerLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/OracleDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/OracleLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/PostgresqlDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/PostgresqlLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/resources/glow/latest/provisioning-bare-metal.xml
  testsuite/layers-metadata-unit-tests/src/test/resources/glow/versions.yaml
  testsuite/pom.xml
Labels: repo, test

EAP Glow support
  doc/db2/env.yaml
  doc/mssqlserver/env.yaml
  doc/oracle/env.yaml
  doc/postgresql/env.yaml
  galleon-feature-pack/src/main/resources/layers/standalone/db2-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/db2-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/mssqlserver-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/mssqlserver-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/oracle-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/oracle-driver/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/postgresql-datasource/layer-spec.xml
  galleon-feature-pack/src/main/resources/layers/standalone/postgresql-driver/layer-spec.xml
  pom.xml
  testsuite/layers-metadata-unit-tests/pom.xml
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/AbstractLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/DB2Definition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/DB2LayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/MsSqlServerDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/MsSqlServerLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/OracleDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/OracleLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/PostgresqlDefinition.java
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/PostgresqlLayerMetaDataTestCase.java
  testsuite/layers-metadata-unit-tests/src/test/resources/glow/latest/provisioning-bare-metal.xml
  testsuite/layers-metadata-unit-tests/src/test/resources/glow/versions.yaml
  testsuite/pom.xml
Labels: repo, test, db2, microsoft, oracle, postgresql, documentation

Refresh dependencies
  pom.xml
  testsuite/pom.xml
Labels: repo, test

Add required build time env
  doc/db2/env.yaml
  doc/mssqlserver/env.yaml
  doc/oracle/env.yaml
  doc/postgresql/env.yaml
Labels: db2, microsoft, oracle, postgresql, documentation

Layers metadata tests to use offline maven resolution
  pom.xml
  testsuite/layers-metadata-unit-tests/src/test/java/org/wildfly/datasources/galleon/pack/test/layers/metadata/AbstractLayerMetaDataTestCase.java
Labels: repo, test

.github/labeler.yml:

repo:
  - ./*
test:
  - testsuite/**/*
db2:
  - "**/db2/**/*"
  - "**/db2-*/**/*"
microsoft:
  - "**/mssqlserver*/**/*"
  - "**/microsoft/**/*"
oracle:
  - "**/oracle/**/*"
  - "**/oracle-*/**/*"
postgresql:
  - "**/postgresql/**/*" 
  - "**/postgresql-*/**/*"
documentation:
  - doc/**/*
